*{
  box-sizing: border-box;
}

main{
    max-width: 100%;
    margin: auto;
}
#kezdo{
    background-image: url(kepek/hatterelso.jpg);
}
#k_header{
    
    background-image: url(kepek/varos2.jpg);
}
#f_header{
    background-image: url(kepek/varos1.jpg);
}
#a_header{
    background-image: url(kepek/acropolis3.jpg);
}
#s_header{
  background-image: url(kepek/snorkeling_neni.jpg);
}
#h_header{
  background-image: url(kepek/hajo_borito_jav.png);
}
header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    background: none;
    width: 7vh;
}
.navbar {
    overflow: hidden;
    margin: 0 5vh;
}
.navbar a{
  color: white;
  text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    position: relative;
  }
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    left: 0;
  }
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 1s ease;
  }
  .dropdown-content a:hover{
      border-bottom: 1px solid white;
      transition: 1s;
  }
  .dropdown:hover .dropdown-content {
    display: contents ;
}
#elsoszoveg{
  text-align: center;
  padding-top: 25vh;
  color: white;
}



.elsoszovegp, .elsoszovegh{
  text-shadow: 5px 5px 5px rgb(6, 40, 66);
}
article{
  overflow: hidden;
  padding: 5vh;
  width: 100%;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}
#a_article{
  height: 100vh;
  font-size: 20px;
  width: 90%;
  margin: auto;
}
#a_article p{
  padding-right: 50px;
}

.header_szoveg_feher{
  text-align: center;
  padding-top: 25vh;
  color: white;
  font-size: 30px;
  
}
.header_szoveg_feher h1{
  text-align: center;
  color: white;
  font-size: 80px;
  font-weight: bolder;
}

.header_szoveg_fekete{
  text-align: center;
  padding-top: 25vh;
  color: black;
  font-size: 30px;
  font-weight: bold; 
}
.header_szoveg_fekete h1{
  text-align: center;
  color: black;
  font-size: 80px;
  font-weight: bold;
}

#f_article p{
  font-size: 25px;
  color: black;
  padding-top: 5px;
  padding-bottom: 10px;
}

#k_article p{
  font-size: 25px;
  color: black;
  padding-top: 5px;
  padding-bottom: 10px;
}

#k_article{
  height: 100vh;
}
#k_fieldset{
  border: 3px solid rgb(170, 173, 173);
  padding: 20px;
}
#k_fieldset * {
  padding: 5px;
}

.kartya1{
  padding-bottom: 5vh;
}
.kartyaSzoveg a{
  color:  rgb(63, 151, 201);
  text-decoration: none;
  border-bottom: 1px solid rgb(63, 151, 201);
  transition: 0.4s ease;
}
.kartyaSzoveg a:hover{
  border: 1px solid rgb(63, 151, 201);
  padding: 1vh;
  font-size: larger;
  transition: 0.4s

}
#elsooldalBev{
  padding: 5vh;
}

footer{
  height: 30vh;
  width: 100%;
  background-image: url(kepek/homokos.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
#logok{
  margin-top: 4vh;
}
#logo{
  margin-top: 4vh;
  background: none;
  width: 10vh;
}
.fa {
  padding: 2vh;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3vh;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}













